*,
:after,
:before {
  outline: none;
  box-sizing: border-box;
}

:root {
  --app-height: 100%;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin:auto; 
  background: #fff;
  font-family: $fontMain;
  line-height: 1.5;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  
  
}  


#main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
