// fonts
$fontMain: 'Roboto';
$fontCond: 'HelveticaNeue-Bold';

// root
$rootUrl: "/mark/silart/img/"; /// На сервак

//$rootUrl: "/img/"; /// ДІМ

$rootUrlFonts: "/mark/silart/fonts/";  /// На сервак


//$rootUrlFonts: "/fonts/";   /// ДІМ
//$rootUrlFonts: "https://andryushkin.ru/fonts/";


// color
$colorYellow: #E5D00D;
$colorYellow-2: #FFF500;


