// fonts
$fontMain: 'HelveticaNeue-Medium';
$fontCond: 'HelveticaNeue-Bold';

// root
$rootUrl: "/mark/get-up/img/"; /// На сервак

//$rootUrl: "/img/"; /// ДІМ

$rootUrlFonts: "/mark/get-up/fonts/";  /// На сервак


//$rootUrlFonts: "/fonts/";   /// ДІМ
//$rootUrlFonts: "https://andryushkin.ru/fonts/";



// color
$colorYellow: #E5D00D;
$colorYellow-2: #FFF500;


